# https://prettier.io/docs/en/ignore.html

/chrome/
# CLI ignores Node modules by default https://github.com/prettier/prettier/pull/1683, VSCode
# extension does not https://github.com/prettier/prettier-vscode/issues/198,
# https://github.com/prettier/prettier-vscode/issues/548.
/dist/

node_modules/
